{% extends "base.html" %}
{% block content %}
    <h1>Posts</h1>
    <div class="container">
        <div class="row">
            {% for blog_post in object_list %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{blog_post.title}}</h3>
                        <h5 class="card-text">{{blog_post.subtitle}}</h5>
                        <p class="card-text">{{blog_post.creation_date|date:"M d, Y"}} by 
                            <a href="{% url 'profile_detail' blog_post.author.pk %}">{{blog_post.author}}</a></p>
                        <a href="{% url 'postdetail' blog_post.pk %}"
                            target="_self" 
                            class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h5>No posts yet!</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}
