{% extends "base.html" %}
{% load custom_filters %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".edit-btn").forEach(button => {
                button.addEventListener("click", () => {
                    const commentId = button.getAttribute("data-comment-id");
                    const form = document.querySelector(`form[action*="${commentId}"]`);
                    form.style.display = form.style.display === "none" ? "block" : "none";
                });
            });
        });
    </script>
    <h1>{{ object.title }}</h1>
    <h3>{{ object.subtitle }}</h3>
</br>
    <p>Created at: {{ object.creation_date }}</p>
    <p>Author: <a href="{% url 'profile_detail' object.author.pk %}">{{ object.author }}</a></p>
    <p>{{ object.body }}</p>
    {% if edited_post %}
    <p class="text-muted">Edited at: {{ object.modification_date }}</p>
    {% endif %}
    <hr>
</br>
<h2>Comments</h2>
<div>
    {% for comment in comments %}
    <p><a href="{% url 'profile_detail' comment.author.pk %}"><strong>{{ comment.author }}</strong></a> ({{ comment.creation_date|date:"F j, Y, g:i a" }}):</p>
    <p>{{ comment.content }}</p>
        {% if user == object.author %}
            <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
        {% if comment.author == user %}
        <a class="btn btn-warning btn-sm edit-btn" data-comment-id="{{ comment.id }}">Edit</a>
        <form action="{% url 'comment_update' pk=comment.id %}" method="post" class="edit-form" style="display:none;">
            {% csrf_token %}
            {{ comment_forms|get_item:comment.id|default:'' }}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </form>
        {% endif %}
        <hr>
    {% empty %}
        <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
</div>
<hr>
{% if user.is_authenticated %}
    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
{% endif %}
</br>
{% if user.is_authenticated and user == object.author %}
<a href="{% url 'deletepost' object.pk %}" 
    target="_self" 
    class="btn btn-danger">Delete Post
</a>
<a href="{% url 'editpost' object.pk %}" 
    target="_self" 
    class="btn btn-warning">Edit Post
</a>
{% endif %}
{% endblock %}
